In [92]:
import pandas as pd 
import numpy as np

In [52]:
df = pd.read_csv("car_fuel_efficiency.csv")

In [53]:
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [54]:
df.describe()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,num_doors,fuel_efficiency_mpg
count,9704.000000,9222.000000,8996.000000,9704.000000,8774.000000,9704.000000,9202.000000,9704.000000
mean,199.708368,3.962481,149.657292,3001.280993,15.021928,2011.484027,-0.006412,14.985243
std,49.455319,1.999323,29.879555,497.894860,2.510339,6.659808,1.048162,2.556468
min,10.000000,0.000000,37.000000,952.681761,6.000000,2000.000000,-4.000000,6.200971
25%,170.000000,3.000000,130.000000,2666.248985,13.300000,2006.000000,-1.000000,13.267459
50%,200.000000,4.000000,149.000000,2993.226296,15.000000,2012.000000,0.000000,15.006037
75%,230.000000,5.000000,170.000000,3334.957039,16.700000,2017.000000,1.000000,16.707965
max,380.000000,13.000000,271.000000,4739.077089,24.300000,2023.000000,4.000000,25.967222

In [55]:
df["fuel_type"].value_counts()

fuel_type
Gasoline    4898
Diesel      4806
Name: count, dtype: int64

In [11]:
df["fuel_type"].unique()

array(['Gasoline', 'Diesel'], dtype=object)

In [56]:
df["fuel_type"].nunique()

2

In [57]:
df.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [60]:
df["origin"].value_counts

<bound method IndexOpsMixin.value_counts of 0       Europe
1          USA
2       Europe
3          USA
4       Europe
         ...
9699    Europe
9700       USA
9701       USA
9702       USA
9703      Asia
Name: origin, Length: 9704, dtype: object>

In [62]:
df_asia = df[df['origin'] == 'Asia']

In [63]:
df_asia.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
8,250,1.0,174.0,2714.219310,10.3,2016,Asia,Diesel,Front-wheel drive,-1.0,16.823554
12,320,5.0,145.0,2783.868974,15.1,2010,Asia,Diesel,All-wheel drive,1.0,16.175820
14,200,6.0,160.0,3582.687368,14.9,2007,Asia,Diesel,All-wheel drive,0.0,11.871091
20,150,3.0,197.0,2231.808142,18.7,2011,Asia,Gasoline,Front-wheel drive,1.0,18.889083
21,160,4.0,133.0,2659.431451,NaN,2016,Asia,Gasoline,Front-wheel drive,-1.0,16.077730

In [64]:
df_asia.describe()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,num_doors,fuel_efficiency_mpg
count,3247.000000,3099.000000,3013.000000,3247.000000,2933.000000,3247.000000,3072.000000,3247.000000
mean,200.052356,4.010326,150.303352,3006.292228,15.036754,2011.489375,-0.001628,14.973830
std,49.287252,1.971199,30.257169,502.434626,2.488340,6.704607,1.051428,2.578345
min,30.000000,0.000000,40.000000,1223.298226,6.400000,2000.000000,-4.000000,6.886245
25%,170.000000,3.000000,130.000000,2665.518985,13.300000,2006.000000,-1.000000,13.252010
50%,200.000000,4.000000,150.000000,2988.585737,15.100000,2012.000000,0.000000,15.034670
75%,230.000000,5.000000,171.000000,3345.355571,16.700000,2017.000000,1.000000,16.726318
max,370.000000,11.000000,245.000000,4661.144932,22.700000,2023.000000,4.000000,23.759123

In [65]:
# Find the median value of the horsepower column in the dataset.
# Next, calculate the most frequent value of the same horsepower column.
# Use the fillna method to fill the missing values in the horsepower column with the most frequent value from the previous step.
# Now, calculate the median value of horsepower once again.

In [68]:
df["horsepower"].median()

149.0

In [76]:
df['horsepower'].value_counts().head(1)

horsepower
152.0    142
Name: count, dtype: int64

In [86]:
df["horsepower"].fillna(value=152.0 , inplace=True)

In [87]:
df["horsepower"].median()

152.0

In [ ]:
# Select all the cars from Asia
# Select only columns vehicle_weight and model_year
# Select the first 7 values
# Get the underlying NumPy array. Let's call it X.
# Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
# Invert XTX.
# Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200].
# Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
# What's the sum of all the elements of the result?

In [95]:
selected_columns = df_asia[['vehicle_weight', 'model_year']]

In [96]:
first_seven = selected_columns.head(7)

In [97]:
X = first_seven.values

In [98]:
XTX = X.T @ X

In [100]:
XTX_inv = np.linalg.inv(XTX)

In [101]:
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

In [102]:
w = XTX_inv @ X.T @ y

In [103]:
sum_w = np.sum(w)
sum_w

np.float64(0.5187709081074008)